.button {
	display: inline-block;
	margin: var(--spacing-1);
	padding: .8em 1.7em;
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-bold);
	color: var(--clr-text-button);
	background-image: var(--primary-gradient);
	border: none;
	border-radius: 24px;
	box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.15);
	transition: .1s ease;
}
.button:hover,
.button:focus-visible {
	opacity: 0.4;
	cursor: pointer;
}

@media (min-width: 767px) {
	.nav .button-header {
		padding: .8em 1.7em;
	}
	.button {
		margin: 0;
	}
}