.container__title {
	margin-bottom: 2rem;
	text-align: center;
}
.container-cards {
	display: grid;
	place-items: center;
}
.card {
	width: 320px;
	margin-bottom: 2rem;
	text-align: left;
	background-color: var(--white);
	border-radius: 8px;
	box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.15);
	overflow: hidden;
}
.card__image {
	height: 200px;
}
.card-body {
	padding: 1.5rem;
}
.card-body__title {
	margin: 1rem 0;
}
.card-body__title a {
	font-size: var(--fs-sm-title);
	transition: color .1s ease;
}
.card-body__title a:hover {
	color: var(--clr-accent-hover);
}
.card-body__text {
	font-size: var(--fs-sm-text);
}

@media screen and (min-width: 50em) {
	.container__title {
		text-align: left;
	}
	.container-cards {
		place-items: flex-start;
		gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	}
	.card {
		width: 260px;
		height: 440px;
	}
	.card-body {
		padding: 1rem;
	}
}