.section-blog {
	padding: var(--section-block-padding) var(--section-inline-padding);
}
.section-blog .content__title {
	text-align: center;
}
.section-blog .flex-wrap-container {
	justify-content: center;
}
.card {
	width: 28rem;
	margin-bottom: var(--spacing-2);
	text-align: left;
	background-color: var(--clr-background-card);
	border-radius: 8px;
	box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.15);
	overflow: hidden;
}
.card__image {
	width: 100%;
	height: 200px;
}
.card__body {
	padding: 1em;
}
.card__author {
	display: block;
	margin: var(--spacing-1) 0;
	font-size: var(--font-size-small-text);
	color: var(--clr-dark-text);
}
.card__title {
	margin: var(--spacing-1) 0;
}
.card__title a {
	font-size: var(--font-size-card-title);
	transition: color .1s ease;
}
.card__title a:hover {
	color: var(--clr-accent-hover);
}
.card__text {
	font-size: var(--font-size-card-text);
}

@media screen and (min-width: 767px) {
	.section-blog .content__title {

		text-align: left;
	}
	.section-blog .flex-wrap-container {
		justify-content: space-between;
	}
	.card {
		width: 26rem;
	}
}