.socialLinks {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}
.socialLinks > li {
	margin: .8rem;
}
.socialLinks > li > figure {
	margin: 0;
}

.socialLinks > li > figure > a > svg path:hover,
.socialLinks > li > figure > a > svg path:focus-visible {
	fill: var(--clr-accent-hover);
	cursor: pointer;
}
@media screen and (min-width: 50em) {
	.socialLinks > li:nth-child(1) {
		margin-left: 0;
	}
}