.button {
	display: block;
	margin: 1em;
	padding: 1em 2em;
	font-weight: 700;
	color: var(--white);
	background-image: linear-gradient(to right, var(--lime-green), var(--hover-color));
	border: none;
	border-radius: 24px;
	transition: .1s ease;
}
.button:hover {
	opacity: 0.4;
	cursor: pointer;
}