.hero {
	padding: var(--section-block-padding) var(--inline-padding);
	background-image: url("../assets/bg-intro-mobile.svg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
}
.container-sm-grid-1 {
	display: grid;
	place-items: center;
}
.hero__image {
	width: 100%;
	transform: translateY(-130px);
}
.item-text {
	text-align: center;
}
.hero__title {
	max-width: 14ch;
}
.hero__text {
	max-width: 34ch;
	margin: var(--spacer-medium) 0;
}

@media screen and (min-width: 767px) {
	.hero {
		background-image: url("../assets/bg-intro-desktop.svg");
		background-position: right -412% bottom;
		background-size: 90%;
		overflow: hidden;
	}
	.container-md-grid-2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		place-items: start;
	}
	.item-image {
		order: 2;
	}
	.hero__image {
	  max-width: 750px;
		transform: translate(30%, -15%);
	}
	.item-text {
		order: 1;
		text-align: left;
		align-self: center;
	}
	.hero__title {
		max-width: 14ch;
	}
	.hero__text {
		max-width: 43ch;
	}
}