.section-hero {
	padding: var(--section-hero-block-padding) var(--section-inline-padding);
	background-image: url("../assets/bg-intro-mobile.svg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
}
.hero__image {
	width: 100%;
	transform: translateY(-130px);
}
.hero__title {
	max-width: 14ch;
}
.hero__text {
	max-width: 34ch;
	margin: var(--spacing-2) 0;
}

@media screen and (min-width: 767px) {
	.section-hero {
		background-image: url("../assets/bg-intro-desktop.svg");
		background-position: 444% -189px;
		background-size: 90%;
		overflow: hidden;
	}
	.section-hero .grid-md-2 {
		place-items: start;
	}
	.grid__item--image {
		order: 2;
	}
	.hero__image {
		width: 131%;
		transform: translate(10%, -15%);
	}
	.grid__item--content {
		order: 1;
		align-self: center;
		text-align: left;
	}
	.hero__title {
		max-width: 14ch;
	}
	.hero__text {
		max-width: 43ch;
	}
}

@media screen and (min-width: 1440px) {
	.section-hero {
		background-position: 409% -283px;
		background-size: 90%;
	}
}	