.section-features {
	padding: var(--section-block-padding) var(--section-inline-padding);
	background-color: var(--clr-background-grayish);
}
.content__title {
	margin: var(--title-block-margin) 0;
}
.content__text {
	max-width: 40ch;
	margin-bottom: clamp(5rem, calc(5rem + ((1vw - 0.32rem) * 2.3901)), 7.5rem);
}
.section-features .flex-wrap-container {
	justify-content: center;
}
.section-features .flex-column {
	align-items: center;
	text-align: center;
}
.feature {
	width: 33rem;
	margin-bottom: var(--spacing-2);
}
.feature__title {
	margin: 2rem 0;
}
.feature__text {
	max-width: 37ch;
	font-size: var(--font-size-card-text);
	margin-bottom: 2rem;
}

@media screen and (min-width: 767px) {
	.section-features .grid-1 {
		place-items: start;
	}
	.section-features .content {
		text-align: left;
	}
	.section-features .content__text {
		max-width: 60ch;
		margin: var(--spacing-2) 0;
	}
	.section-features .flex-wrap-container {
		width: 100%;
		justify-content: space-between;
	}
	.section-features .flex-column {
		align-items: start;
		text-align: left;
	}
	.feature {
		width: 25rem;
	}
	.feature__text {
		max-width: 27ch;
	}
}