.container {
	background-color: var(--bg-container);
}
.box,
.feature {
	text-align: center;
}
.container-features {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.feature {
	width: 335px;
	margin-bottom: 2em;
}
.feature__content {
	font-size: var(--size-feature-text);
}

@media screen and (min-width: 768px) {	
	.container-features {
		flex-direction: row;
		justify-content: center;
	}
	.feature {
		width: 290px;
	}
	.box,
	.feature {
		text-align: left;
	}
	.box__title,
	.box__description,
	.feature__icon,
	.feature__title,
	.feature__content {
		margin-left: 0;	
	}
	.box__description {
		max-width: 54vw;
	}
	.feature__content {
		max-width: 230px;
	}
}