.section-features {
	text-align: center;
	background-color: var(--clr-background-grayish);
}
.text {
	max-width: 40ch;
	margin: 1rem auto;
}
.container-features {
	display: grid;
	place-items: center;
}
.feature {
	width: 340px;
	margin-bottom: 2rem;
	text-align: center;
}
.feature__icon {
	width: 80px;
	margin: 2rem auto;
}
.feature__title {
	margin: 2rem 0;
}
.feature__text {
	max-width: 40ch;
	font-size: var(--fs-text-card);
}

@media screen and (min-width: 50em) {
	.section-features {
		text-align: left;
	}
	.text {
		max-width: 65ch;
		margin: 2rem 0;
	}
	.container-features {
		margin-top: 2rem;
		place-items: flex-start;
		gap: .5rem;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	}
	.feature {
		width: 275px;
		text-align: left;
	}
	.feature__icon {
		width: 70px;
		margin-left: 0;	
	}
	.feature__text {
		max-width: 28ch;
	}
}