.footer {
	padding: var(--footer-block-padding) var(--section-inline-padding);
	background-color: var(--clr-background-footer);
	text-align: center;	
}
.footer-nav > li {
	margin: var(--spacing-2) 0;
}
.footer-nav > li > a{
	color: var(--clr-link-footer);
}	
.footer-nav > li > a:hover {
 	color: var(--clr-accent-hover);
 	cursor: pointer;
}
small {
	display: block;
	color: var(--clr-copyright-footer);
	margin-top: var(--spacing-2);
}

@media screen and (min-width: 767px) {
	.footer {
		text-align: left;
	}
 	.footer .grid-md-3 {
		display: grid;
 		grid-template-columns: repeat(3, 1fr);
 		gap: 1rem;
 		justify-items: stretch;
 	}
 	
	.grid__col-1 {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.grid-col-2 {
		columns: 2;
	}
	.grid__col-3 {
		text-align: right;
	}
	.footer-nav > li {
		margin: 0;
		margin-bottom: 1.5rem;
		text-align: left;
 }
}