.footer {
	padding: 2em;
	background-color: var(--bg-footer);
	color: var(--white);
}
.grid {
	max-width: 1024px;
	margin: auto;
	display: grid;
	place-items: center;
	text-align: center;
}
.grid > ul > li {
	margin: 1.5em;
}
 li:hover {
 	color: var(--hover-color);
 	cursor: pointer;
 }
 small {
 	font-size: 14px;
 	color: var(--bg-container);
 }

 @media screen and (min-width: 600px) {
 	.grid {
 		grid-template-columns: repeat(4, 1fr);
 		text-align: left;
 	}
 	.item1 {
 		align-self: flex-start;
 	}
 	button {
 		margin-bottom: 3em;	
 		text-align:right;
 	}
 }