:root {
	/* PRIMARY COLORS */
	--dark-blue: hsl(233, 26%, 24%);
	--lime-green: hsl(136, 65%, 51%);
	--bright-cyan: hsl(192, 70%, 51%);

	/* NEUTRAL COLORS */
	--grayish-blue: hsl(233, 8%, 62%);
	--light-grayish-blue: hsl(220, 16%, 96%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);

	
	--clr-primary-heading: var(--dark-blue);
	--clr-text: var(--grayish-blue);	
	--clr-nav: var(--grayish-blue);
	--clr-nav-hover: var(--dark-blue);
	--clr-accent-hover: var(--lime-green);
	--clr-background-container: var(--very-light-gray);
	--clr-background-light: var(--white);
	--clr-background-grayish: var(--light-grayish-blue);
	--clr-background-footer: var(--dark-blue);


	/* GRADIENTS */
	--primary-gradient: linear-gradient(to right, var(--lime-green), var(--bright-cyan));

	/* FONT fAMILY */
	--ff-primary: 'Public Sans', sans-serif;
	--ff-body: var(--ff-primary);

	/* FONT WEIGHTS */
	--fw-light: 300;
	--fw-regular: 400;
	--fw-bold: 700;

	/* FONT SIZES */
	--fs-h1:  clamp(3.75rem, calc(3.75rem + ((1vw - 0.32rem) * 0.717)), 4.5rem);
	--fs-h2: clamp(2.25rem, calc(2.25rem + ((1vw - 0.32rem) * 0.717)), 3rem);
	--fs-h3: clamp(1.875rem, calc(1.875rem + ((1vw - 0.32rem) * 0.3585)), 2.25rem);
	--fs-text: clamp(1.5rem, calc(1.5rem + ((1vw - 0.32rem) * 0.3585)), 1.875rem);
	--fs-small-text: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 0.1195)), 1.125rem);
	--fs-link: clamp(1.5rem, calc(1.5rem + ((1vw - 0.32rem) * 0.3585)), 1.875rem);
	--fs-button: clamp(1.125rem, calc(1.125rem + ((1vw - 0.32rem) * 0.3585)), 1.5rem);

	/* Paddings*/
	--header-block-padding: 1.5rem;
	--section-block-padding: 1rem;
	--inline-padding: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 13.3843)), 15rem);
	--spacer-small: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 0.1195)), 1.125rem);
	--spacer-medium: clamp(1.875rem, calc(1.875rem + ((1vw - 0.32rem) * 0.3585)), 2.25rem);
}

/*Box sizing rules*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/*General styling*/
body {
	font-family: var(--ff-body);
	background-color: var(--clr-background-container);
}
li {
	list-style-type: none;
}
a {
	font-size: var(--fs-link);
	color: var(--clr-primary-heading);
	text-decoration: none;
}
picture,
figure,
img {
	display: block;
}
/* Typography */
h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}
h1,
h2,
h3 {
	font-weight: var(--fw-light);
	color: var(--clr-primary-heading);
}
p {
	font-size: var(--fs-text);
	font-weight: var(--fw-regular);
	color: var(--clr-text);
	line-height: 1.5;
}
span {
	display: block;
	font-size: var(--fs-small-text);
	color: var(--clr-text);
}