*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/* COLORS */
	--heading-color: hsl(233, 26%, 24%); /*dark-blue*/
	--text-color: hsl(233, 8%, 62%); /*grayish-blue*/
	--bg-container: hsl(0, 0%, 98%); /*very-light-gray*/
	--hover-color: hsl(192, 70%, 51%);/*bright-cyan*/
	--bg-footer: hsl(233, 26%, 24%);
	--lime-green: hsl(136, 65%, 51%);
	--light-grayish-blue: hsl(220, 16%, 96%);
	--white: hsl(0, 0%, 100%);
	
	/* FONT SIZES */
	--size-h1: clamp(34px, 5vw, 42px);
	--size-h2: clamp(32px, 5vw, 40px);
	--size-h3: clamp(18px, 5vw, 22px);
	--size-description-text: clamp(16px, 2vw, 20px);
	--size-feature-text: clamp(16px, 1vw, 18px);

	--size-heading-card: clamp(16px, 4vw, 18px);;
	--size-card-text: clamp(12px, 1vw, 13px);
}

body {
	max-width: 1440px;
	margin: auto;
	font-family: 'Public Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
h1 {
	font-size: var(--size-h1);
}
h2 {
	font-size: var(--size-h2);
}
h3 {
	font-size: var(--size-h3);
}
h1,
h2,
h3 {
	margin: .5em;
	font-weight: 300;
	color: var(--heading-color);
}
p,
span {
	margin: 1em;
	font-size: var(--size-description-text);
	color: var(--text-color);
	line-height: 1.5;
}
span {
	display: block;
}
ul {
	list-style-type: none;
}
li {
	margin: .5em;
}
a {
	text-decoration: none;
}
figure {
	display: block;
	margin: 1em;
}
picture {
	display: block;
}
section {
	padding: clamp(1em, 5vw, 10em);
}